body {
  font-family: Verdana;
  font-size: 2rem;
  background-color: #1d1d1d;
  color: #dedede;
}
.google-auth {
  display: flex;
  align-items: center;
  padding: 2px;
  display: flex;
}
a {
  text-decoration: none;
  margin: 2px;
  color: #0086da;
}

a:visited {
  color: #03bf00;
}

.get-method {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border: 2px solid #006e00;
  color: #e9e9e9;
  padding: 5px;
  border-radius: 10%;
  height: 30px;
  width: 65px;
  text-align: center;
  background-color: #1e991e;
}

a:hover ~ .get-method {
  background-color: #24c924;
  box-shadow: 2px 2px 5px #1c6e1c;
}

.forms {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

form {
  border: 2px solid;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

form .header {
  display: flex;
  justify-content: center;
}

form h2 {
  text-align: center;
  border: 2px solid;
  width: 55%;
  border-radius: 5%;
  padding: 4px;
}

.input-group {
  display: flex;
  padding: 2px;

  label {
    width: 50%;
    margin: 2px;
  }

  input {
    background-color: #1d1d1d;
    color: #c3c3c3;
    font-size: 1.25rem;
    border: none;
    outline: none;
    border-bottom: 2px solid;
  }
}

footer {
  display: flex;
  justify-content: center;
  padding: 2px;
}

button[type="submit"] {
  font-size: 2rem;
  text-align: center;
  background-color: transparent;
  color: inherit;
  border: 2px solid;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: #141414;
  border: 2px solid #bababa;
}
