services:
  api:
    image: my-backend:1.0.2
    container_name: api
    env_file:
      - ../.env
    environment:
      PORT: 5174
      REDIS_PORT: 6379
      NODE_ENV: production
    depends_on:
      - redis
      - db
  db:
    image: postgres:16
    ports:
      - "5432:5432"
    container_name: db
    env_file:
      - ../.env
    environment:
      POSTGRES_DB: api
      POSTGRES_USER: app
    volumes:
      - db_data:/var/lib/postgresql/data
    stop_grace_period: 30s

  redis:
    image: redis:8
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
  proxy:
    image: nginx:stable
    container_name: proxy
    ports:
      - "80:80"
    volumes:
      - ../nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - api

volumes:
  db_data:
